:root {
    --white: #FBFBFF;
    --black: #040F16;
    --active: #01BAEF;
    --warning: #B80C09;
}

body {
    text-align: center;
    font-size: 18pt;
    background-color: #FFFDE4;
}
textarea {
    font-size: 1.3rem;
    margin:4rem auto 0;
    display: block;
    text-align: center;
    max-width: 500px;
}

.char-toggle {
    display: flex;
    justify-content: center;
}

.char-btn {
    border: 1px solid gray;
    width: var(--char-btn-size);
    height: var(--char-btn-size);
    line-height: var(--char-btn-size);
}

.option-item {
    font-size: 1.2rem;
    border-radius: 4px;
    margin: 0.25rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    transition: box-shadow 0.2s;
    transition: background-color 0.3s;
}

.active {
    background-color: #005AA7;
    color: #FFFDE4;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.password-option {
    border:1px solid gray;
    background-color: #DE9151;
    display: inline;
    padding: 0.40rem;
    border-radius: 4px;
    color: black;
    margin: 0.5rem;

    /* Prevents selecting text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.checkbox-offset {
    margin-right: -30px;
    padding-right: 30px;
}


.keyboard-row {
    display: flex;
    justify-content: center;
}

.key {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0.25em;
    background-color: lightgray;
    color: black;
    border: 0.5px solid darkgray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.active {
    color: var(--white);
    background-color: black;
    border-color: lightgray;
    box-shadow:
        rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
